*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 25px;

}
.item-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.clickable-item {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.inventory {
    width: 500px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.slot {
    display: flex;
    width: 60px;
    height: 60px;
    background: #ccc;
    align-items: center;
    justify-content: center;
}

.item {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.gamemenu{
    font-size: 70px;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    gap: 20px;
}

.titel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spilknapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
button{
    align-items: center;
    justify-content: center;
    width: 448px;
    height:64px;
    font-size: 40px;
    font-weight: 550;
    border-radius: 25px;
    border-style: none;
}

button:hover{
    background-color: #989898;
}

.icons{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.top{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

.lif-penge{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 10px;
}

}
.life,.penge{
    width: 200px;
    height: 40px;
    background-color: white;
}

.mini-map{
    width: 300px;
    height: 170px;
    background-color: white;

}

.mid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom{
    display: flex;
}
.inventory-slots{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}


.action-box{
    width: 500px;
    height: 300px;
    background-color: white;
}

.chat-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.chat{
    width: 300px;
    height: 100px;
    background-color: white;
}
.dato{
    width: 100%;
    height: 100%;
}

.map-box{
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 10px;
}

.setting-knapper{
    display: flex;
    justify-content: end;


}

.volume,.settings{
    width: 50px;
    height: 50px;
    font-size: 10px;
}