*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 25px;
}
.item-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.clickable-item {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.inventory {
    width: 500px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.slot {
    display: flex;
    width: 60px;
    height: 60px;
    background: #ccc;
    align-items: center;
    justify-content: center;
}

.item {
    width: 40px;
    height: 40px;
    cursor: pointer;
}